:root {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
}

body {
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /*padding: 0.6em 1.2em;*/
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1e471c;
}
button:focus,
button:focus-visible {
}

.card {
}

#app {
  text-align: center;
}